<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey" ng-controller="contact">
  <h2 class="text-center">CONTACT</h2>
  <h4> Describe Your BUYING Requirement *  </br>
* Tips on getting accurate quotes. Please include product name, order quantity, usage, special requests if any in your inquiry.
  </h4>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>I-5, Badli Industrial Area, Phase-3, Delhi - 110042, India
</br>Mr. Vishal Makhija</p>
      <p><span class="glyphicon glyphicon-phone"></span> Mobile :+919311192242, +919811192242</p>
      <p><span class="glyphicon glyphicon-envelope"></span>v_makhija@rediffmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Mobile" ng-model="mobile" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" ng-model="email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" ng-model="comments" placeholder="Tips on getting accurate quotes. Please include product name, order quantity, usage, special requests if any in your inquiry." rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit" ng-click="sendMail()">Send</button>
          
          {{myWelcome}}
          
        </div>
      </div>
    </div>
  </div>
</div>